			<div class="container_footer">
				<hr>
				<div class="mymsg">This <b>Sheltered Life</b> app is the sole and original work of <b>Eric Ka-Yeung Leung</b> (ekleung123@gmail.com).&nbsp; The source code is posted in a GitHub repository named <b>ShelteredLife</b> at <a href="https://github.com/rodentgeek"> https://github.com/rodentgeek</a>.<br><br></div>
			</div>
		</div> <!-- container DIV -->
	</body>
</html>