<% include partials/header %>

<div class="inner_container">

	<h1>Add Adoptee</h1>

	<form action="/list" method="POST" id="theForm">
		<% include partials/form %>
	</form>

</div>

<% include partials/footer %>

<script type="text/javascript" src="/scripts/formvalidate.js"></script>